.Home {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background: linear-gradient(to right, rgba(98, 125, 77, 1) 0%, rgba(31, 59, 8, 1) 100%);
}

.Home .bg-video .content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Home .info {
    color: whitesmoke;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.Home .sub-title {
    font-size: 1.6rem;
    font-weight: lighter;
}

.info .github {
    margin: 20px;
    height: 4rem;
    width: 4rem;
}