h1,h2,h3,h4,h5,h6 {
    font-family: 'Geo Sans Light';
    font-size: 3rem;
}

* {
    color: whitesmoke;
}

@font-face {
	font-family: 'Geo Sans Light';
	font-style: normal;
	font-weight: 400;
	src: url('../media/GeosansLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Roman Serif';
	font-style: normal;
	font-weight: 400;
	src: url('../media/RomanSerif.ttf') format('truetype');
}