#main {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/media/bg-dark-mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}

#main #main-content {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s;
}

#main #main-content .sub-title {
    font-family: 'Geo Sans Light';
    font-size: 1.6rem;
    font-weight: lighter;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}