.nav-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    cursor: pointer;
    z-index: 2;
    outline: none;
    animation: spin .5s;
}

#nav-button-close {
    display: none;
    animation: spin .5s;
}

#nav-bar {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    animation: slideUp .5s;
}

#nav-bar .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background: url('/media/kiting-video-first-frame.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#nav-bar .bg-video .content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#nav-bar .nav-icon {
    text-decoration: none;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-bar .nav-text {
    font-size: 1.8rem;
    font-family: 'Geo Sans Light';
    text-transform: lowercase;
}

#nav-bar #main-link {
    display: none
}

@keyframes slideDown {
    from {
        top: -100vh
    }
    to {
        top: 0
    }
}

@keyframes slideUp {
    from {
        top: 0
    }
    to {
        top: -100vh
    }
}

@keyframes spin {
    from {
        transform: rotate(-180deg)
    }
    to {
        rotate: rotate(0deg)
    }
}