#portfolio {
    height: 100vh;
    width: 100vw;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portfolio .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background: url('/media/kiting-video-first-frame.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#portfolio .bg-video .content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#portfolio #portfolio-content {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#portfolio .portfolio-nav {
    font-size: 5rem;
    margin: 1rem;
    cursor: pointer;
}

#portfolio .portfolio-slide {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#portfolio .portfolio-slide .title {
    font-size: 3rem;
    font-weight: bold;
}
