#technologies {
   display: flex;
   justify-content: center;
   flex-direction: column;
   background: #008cff;
   margin-top: -10vh;
   padding: 20vh 0;
   -webkit-clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
   clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
}

#technologies .heading {
   font-size: 3rem;
   margin: 30px;
}

@media (max-width: 450px) {
   #technologies .heading {
      font-size: 3rem;
      margin-bottom: 10px;
   }
}

@media (max-height: 415px) {
   #technologies .heading {
      font-size: 3rem;
      margin-bottom: 10px;
   }
}

#technologies .tech-container {
   width: 45%;
   max-width: 500px;
   margin: 0 auto;
   padding: 5px 10px;
   transform: perspective(1000px);
   transform-style: preserve-3d;
}

@media (max-width: 450px) {
   #technologies .tech-container {
      width: 80%;
   }
}

@media (max-height: 415px) {
   #technologies .tech-container {
      width: 70%;
   }
}

#technologies .tech-skill {
   display: inline-block;
   margin: 10px;
   font-size: 1.5rem;
   transform: translateZ(20px);
}

#technologies .tech-skill:hover {
   font-weight: bolder;
}

@media (max-width: 450px) {
   #technologies .tech-skill {
      font-size: 1.25rem;
      margin: 10px 5px;
   }
}

@media (max-height: 415px) {
   #technologies .tech-skill {
      font-size: 1.25rem;
      margin: 5px;
   }
}
